.Board-header {
  color: white;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 8px 4px 8px 8px
}

.Board-project {
  font-size: 18px;
  font-weight: 700
}

.Board-body {
  display: flex;
  padding: 0px 7px;
  height: 80vh;
  overflow: auto; 
}

.Board-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #D62929;
}

#style-2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

