.List {
  background: #e2e4e6;
  height: fit-content;
  min-width: 270px;
  margin: 0px 5px;
  border-radius: 3px
}

.List-body {
  margin: 0px 4px;
}

.List-title {
  font-weight: 500;
  padding: 5px
}

.List-header {
  padding: 8px 10px;
}

.List-header-title {
  font-weight: 700
}

.List-footer {
  padding: 6px 0px 0px 0px;
}

.List-footer-btn-show-add-card {
  background-color: transparent;
  width: 100%;
  text-align: left;
  border: 0px;
  padding: 5px 0px 10px 5px;
}

.List-footer-btn-show-add-card:hover {
  background-color: #cdd2d4;
  text-decoration: underline;
  color: #4d4d4d
}