.AddList {
  /* background: rgba(0, 0, 0, .12); */
  height: fit-content;
  cursor: pointer;
  color: #fff;
  min-width: 270px;
  margin: 0 5px;
  border-radius: 5px;
}

.AddList-add-show {
  background-color: #e2e4e6;
}

.AddList-add-hide {
  background: rgba(0, 0, 0, .12);
  padding: 6px 3px 6px 3px;
  height: 30px;
}

.AddList:hover {
  background: rgba(0, 0, 0, .3);
}

.AddList-form {
  padding: 7px
}

.AddList-title {
  padding: 7px;
  color: hsla(0, 0%, 100%, .7);
  display: block
}

.AddList-list-title {
  background: rgba(0, 0, 0, .05);
  border-color: #aaa;
  -webkit-box-shadow: inset 0 1px 8px rgba(0, 0, 0, .15);
  box-shadow: inset 0 1px 8px rgba(0, 0, 0, .15);
  display: block;
  margin: 0;
  -webkit-transition: margin 85ms ease-in, background 85ms ease-in;
  transition: margin 85ms ease-in, background 85ms ease-in;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  background-color: #e2e4e6;
  border: 1px solid #cdd2d4;
  border-radius: 3px;
  display: block;
  margin-bottom: 12px;
  padding: 7px;
}