.Header {
  background-color: rgba(0, 0, 0, .12);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header-logo {
  color: #7fb3d1;
  font-weight: 900;
  font-size: 1.5rem
}